<div class="filter-block" *ngIf="filterable">
    <label for="search-input">Filtrer: </label>
    <input id="search-input" type="text" [(ngModel)]="filterValue">
</div>
<table>
    <thead>
        <tr>
            <th *ngFor="let column of columns"
                [ngClass]="{'pointer': sortable}"
                (click)="sortable && sort(column.field)">
                {{column.header}}
                <i  class="fa" 
                    [ngClass]="{
                        'fa-sort': (selectedColumn !== column.field), 
                        'fa-sort-asc': (selectedColumn === column.field && !isDesc), 
                        'fa-sort-desc': (selectedColumn === column.field && isDesc) 
                    }"
                    aria-hidden="true"
                    *ngIf="sortable"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data | sort:selectedColumn:isDesc | filter:filterValue | slice:startIndex:endIndex">
            <td *ngFor="let column of columns">{{row[column.field]}}</td>
        </tr>
    </tbody>
</table>
<pagination
    *ngIf="paginator"
    [totalItems]="(data | filter:filterValue)?.length"
    [itemsPerPage]="itemsPerPage"
    [pagesToShow]="pagesToShow"
    (indexesChanged)="updateIndexes($event)">
</pagination>