.filter-block {
    padding: 5px 20px;

    text-align: right;
    color: #333;

    input {
        padding: 6px;
        margin-left: 10px;

        border: 1px solid #AAA;
        border-radius: 4px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    
    text-align: center;
    color: #333;
}

th {
    padding: 10px;
    border-bottom: 1px solid #666;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background: #EEE;
}

td {
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

.fa {
    color: #018;
}

.fa-sort {
    color: #CCC;
}